* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

#container {
    display: flex;
    justify-content: center;
    width: 35vw;
    height: 35vw;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    margin: 0 auto;
    
}

.box {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    flex: 1 1 auto;
}

.colored {
    background: blue;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 30px 0;
}